<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node.js Course</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">Posts</a></li>
      <li><a href="/add-post">New Post</a></li>
      <li><a href="/contacts">Contacts</a></li>
    </ul>
  </nav>
  <article>
    

    
      <div class="form-image"><!-- image-->
          <img alt="image" src="">
      </div>
      <div class="form-text" >
        <div>
          <h1>Model Name</h1>
        </div>
        <div>
          <p>Description</p>
        </div>
        <div>
          <span>Status</span>
        </div>
        <div class="form-button">
          <input type="submit" value="EDIT">
          <input type="submit" value="DELETE">
          <input type="submit" value="(UN)DELAY">
        </div>
      </div>
    
  </article>
</body>
</html>