<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>

  <form id="formElem" action="/create" method="post" enctype="multipart/form-data">
    <div class="form-image"><!-- image-->
        <input type="file" name="image" src="" alt="Download image" width="100%">
    </div>
    <div  class="form-text" >
      <div>
        <label>Model name
          <input type="text" name="name">
        </label>
      </div>
      <div>
        <label>Description
          <textarea name="description"></textarea>
        </label>
      </div>
      <div class="form-button">
        <input type="submit" value="Submit">
      </div>
    </div>
  </form>

</body>
</html>

<script>
  formElem.onsubmit = async (e) => {
    e.preventDefault();

    fetch('/create', {
      method: 'POST',
      body: new FormData(formElem)
    })
      .then((res) => res.json())
      .then((json) => console.table(json))
      .catch((error) => alert(`Ошибка\n${error}`));
  }
</script>